# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
.env
**/config.yaml
**/user_session.session
**/db.db
**/115_tokens.json
tmp/
media/
CloudNAS/
*.log
images/qrcode.png

# updated files
update.md

# OS specific
.DS_Store
Thumbs.db
db.db

# Runtime artifacts
downloaded_files/

# Node
web-ui/node_modules/
web-ui/dist/
