alibabacloud_oss_v2==1.1.2
APScheduler==3.11.0
beautifulsoup4>=4.13.5
seleniumbase==4.45.7
python-telegram-bot==22.3
PyYAML>=6.0.2
Requests==2.32.5
urllib3==2.5.0
Pillow==11.2.1
qrcode==8.2
telethon[cryptg]==1.40.0
PySocks==1.7.1
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
sse-starlette>=2.1.0
